<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .form{
            margin-left: 500px;
            margin-top: 100px;
            margin-right: 700px;
            padding-left: 20px;
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <h1 style="margin-left: 520px;margin-top: 100px;">E-commerce Login</h1>
    <div class="form">
        <h2 style="padding-left: 90px;">Login</h2>
        <form action="/login" method="POST">
            <label style="padding-left: 90px;">Username</label><br>
            <input style="margin-left: 40px;" type="text" name="user" autocomplete="off"><br><br>
            <label style="padding-left: 90px;">Password</label><br>
            <input style="margin-left: 40px;" type="text" name="pass" autocomplete="off"><br><br>
            <button  type="submit" class="button1" style="margin-left: 60px;
        cursor: pointer;
        font-size: 1.2em;
        background-color: rgb(230, 230, 77);
        color: black;
        border-radius: 5px;
        width: 40%;">Continue</button></a>
        <br>
        </form>
        <br>
        
        <p></p>
    </div>
    
</body>
</html>